@keyframes fade{
    0%{ opacity: 0;}
    100%( opacity: 1;)
}



@font-face {
    font-family: "IBM Plex Mono";
    src: url(ibm-plex-mono.woff2),url(ibm-plex-mono.woff2);
}

@font-face {
    font-family: "Young Serif";
    src: url(youngserif.woff2), url(youngserif.woff);
}

body{
    font-family: "IBM Plex Mono";
    font-size: 16px;
    line-height: 1.6;
    color: #2a2a2a;
    margin: 0;
}




nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100vh;
    background-color: #00b98d;
    font-family: "Young Serif";
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content:center ;
  
}

nav a{
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
    margin-top: 5px;
    
}

main{
   
    position: relative;
    z-index: 1;
    background-color: #fff;
    min-height: 100vh;
    transition: transform 0.5s;
    align-items: center;
    justify-content: center;
    display: flex;
}

main.open {
    transform: translate(240px,0);
}

a.toggle-nav{
    left: 30px;
    top: 30px;
    position: fixed;
    text-decoration: none;
    color: #2a2a2a;

}

a.toggle-nav img{
    margin-right: 4px;
    width: 20px;
    vertical-align: -15%;
}

section {
    max-width: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

section div{
    width: 350px;
}

section div.content{
    margin: 0 0 0 60px;
}

h1 {
    font-family: "Young Serif";
    font-size: 48px;
    font-weight: 700;
    margin: 12px 0 12px 0;
}

a.button{
    display: inline-block;
    background-color: #00b98d;
    padding: 12px;
    color: #fff;
    text-decoration: none;
}

div.slides{
    position: relative;
    width: 375px;
    height: 450px;
    cursor: pointer;

}

div.slides img{
    position: absolute;
    top: 0;
    left: 0;'
    z-index: 0;
    transition: transform 0.5s;
}

div.slides img:first-child{
    z-index: 1;
}